@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Centra;
  src: url('../public/assets/font/CentraNo2-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: Centra;
  src: url('../public/assets/font/CentraNo2-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Centra;
  src: url('../public/assets/font/CentraNo2-Book.ttf');
  font-weight: 400;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Centra', sans-serif;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
}

@layer components {
  .headerLink {
    @apply cursor-pointer opacity-70 transition hover:opacity-100;
  }

  .headerIcon {
    @apply h-6 w-6 cursor-pointer text-gray-700 opacity-70 transition hover:opacity-100;
  }

  .link {
    @apply relative cursor-pointer text-lg font-medium before:absolute before:inset-x-0 before:-bottom-1.5 before:h-0.5 before:origin-left before:scale-x-0 before:transform before:rounded-bl before:bg-black before:transition-all before:duration-200 hover:before:scale-x-100;
  }

  .borderGradient {
    text-align: center;
    padding-bottom: 5px;
    background: linear-gradient(to right, #ec4899, #8b5cf6) left bottom no-repeat;
    background-size: 100% 2px;
  }

  .tabPanels {
    @apply grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3;
  }
}
